@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

main {
  padding: 10vh 10vw;

  h1 {
    font: 200 7vw/1 "Raleway";
    color:#555;
    margin-bottom: 60px;
  }

  section {
    width: 100%;

    article {
      width: 100%;
      padding: 50px 0px;
      border-bottom: 1px solid #bbb;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    h2{
      width: 30%;
      font: 300 30px/1 "raleway";
      color: #777;
    }
    .txt {
      width: 38%;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      font-size: 1rem;
      word-break: break-all; //단어 단위가 아닌 글자단위로 줄바꿈 처리

      span {
        font: 300 0.8rem/1 "orbitron";
        letter-spacing: 1px;
        color: orange;
        font-size: 0.8rem;

      }
    }
    .pic {
      width: 30%;
      height: 200px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform :scale(1.4)

      }
    }
  }
}
//태블릿
//article안쪽의 h2, .txt영역만 가로 절반씩 너비 배치
//.pic요소는 100%로 변경해서 article 하나당 
@media screen and (max-width:899px){
  main {
    section {
      article {
        h2 {
          width: 48%
          
        }
        .txt {
          width: 48%;
        }
        .pic {
          width: 100%;
          margin-top: 30px;
        }
      }
    }
  }
}
@media screen and (max-width:599px){
  main {
    section {
      article {
        h2 {
          width: 100%
          
        }
        .txt {
          margin-top: 30px;
          width: 100%;
        }
        .pic {
          width: 100%;
          margin-top: 30px;
        }
      }
    }
  }
}